div{
    background-image: url("https://image.shutterstock.com/image-photo/pink-bright-texture-designer-background-260nw-1040229760.jpg");
background-size: 150% 150%;
    background-repeat: no-repeat;
    padding-top: 1px;
}